* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(203, 236, 121);
}

.the-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80vh;
    margin-left: 25%;
    margin-top: 35vh;
    align-items: center;
    border-radius: 20px;
    padding: 1em;
}

.the-text {
    margin: .5em;
    /* text-transform: uppercase; */
    /* font-weight: 600; */
    /* font-size: large; */
}

.more-jokes {
    font-size: large;
    text-transform: uppercase;
    font-size: 600;
    margin: 1em;
    width: 70%;
    height: 2em;
    border-radius: 1em;
}

.more-jokes:hover {
    background-color: black;
    color: whitesmoke;
    font-size: larger;
    border-radius: .5em;
    transform: rotateY('10');
    transform: rotateX('10');
}